<div class="container-index">
    <div class="index-contenido">
        <h1 class="title-index">Galeria de Imágenes</h1>
        <p>Carga tus imágenes y visualizalas al estilo pinterest.</p>
        <hr>
        <p>Puedes utilizar el usuario por defecto o bien registrar tu propio usuario.</p>
    </div>

    <div class="index-img">
        <img src="/img/undraw_organize_photos_re_ogcy.svg" alt="">
    </div>
</div>