<nav>
  <div class="container-nav">
    <a href="/"><h1>Painterest</h1></a>
    
    <ul class="autenticacion">
      <li><a href="/images">Imagenes</a></li>
      <li><a href="/upload">Nueva Imagen</a></li>
    </ul>
  </div>
</nav>